.registrationPage{
  width: 100vw;
  height: 100vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/87/Mount_Ararat_and_the_Yerevan_skyline_in_spring_from_the_Cascade.jpg");
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
  .register{
    width: 30%;
    min-width: 270px;
    height: 100%;
    background-color: rgba(13, 23, 42, 0.64);
    display: flex;
    align-items: center;
  }

}

